body{
    background-color: blueviolet !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
input,button{
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
#result{
    background-color: whitesmoke;
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    
}